<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Scavengers Reign</title>
</head>
<body bgcolor="#000000">

  <img src="Scavengers Reign.jpg" width="200" height="200" border="1" style="border-radius: 50%;">

  <h1 style="color: white; background-color: #000000;">Scavengers Reign</h1>

  <div class="card">
    <div class="card-header">HISTORIA</div>
    <div class="card-body">
      La historia de Scavengers Reign se desarrolla en un mundo post-apocalíptico donde los humanos sobreviven en pequeños grupos. Los protagonistas de la historia son un grupo de saqueadores que se dedican a robar y saquear a otros grupos.
      
    </div>
  </div>
  <div class="card" style="background-color: white;">
    <div class="card-header">MOTIVOS POR LO Q ME GUSTA</div>
    <div class="card-body">Porque me gusta la ciencia y ficcion.
    </div>
  </div>

  <div class="card" style="background-color: white;">
    <div class="card-header">Recomendaciones</div>
    <div class="card-body">
      Si te gustan las películas de acción y ciencia ficción, Scavengers Reign es una película que no te puedes perder. Los personajes son muy carismáticos, la historia es emocionante y llena de acción, y los efectos especiales son impresionantes.
    </div>
  </div>

  <div class="card">
    <div class="card-header">Personajes</div>
    <div class="card-body">
      <ul>
        <li>El líder del grupo, un hombre fuerte y decidido.</li>
        <li>Una mujer inteligente y hábil en el combate.</li>
      </ul>
    </div>
  </div>

  <style>
    .card {
      background-color: white;
      border: 1px solid black;
    }

    .card:hover {
      background-color: red;
      color: white;
      cursor: pointer;
    }
  </style>

</body>
</html>
