/* You can add global styles to this file, and also import other style files */
card {
    background-color: white;
    border: 1px solid black;
  }
  
  .card:hover {
    background-color: red;
    color: white;
    cursor: pointer;
  }